@model List<Loja.Dominio.Produto>

@{
    ViewBag.Title = "Produto";
}
<h2>Lista de Produtos </h2>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

@Html.ActionLink("Cadastrar Novo Produto", "Cadastro", null, new { @class = "col-sm-4 btn btn-default", id = "Cadastrar" })
    @{
        if (Model == null)
        {
            <h1>Nenhum Produto Cadastrado !</h1>
        }
        else
        {
            <h3>Produtos Cadastrados:</h3>
            foreach (var produto in Model)
            {
                <strong>@produto.Nome</strong>

                @Html.ActionLink("Editar", "Editar", new { id = produto.Id }, new { @class = "btn btn-default" })
                @Html.ActionLink("Excluir", "Excluir", new { id = produto.Id }, new { @class = "btn btn-default" })
            }
        }
    }
