body{
    font-family: arial;
    background-image: url(Images/chuli2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

div.menu{
    background-size: contain;
    font-size: 17px;
    color: white;
    text-align: center;
    word-spacing: 40px;
    border-radius: 15px;
    margin: 250px auto 60px auto;
    padding: 20px;
    border: 1px solid white;
    width: 490px;
    height: 62px;
    background-color:rgba(140,140,140,0.6);
    box-sizing: border-box;
    
}

div.menu > a:link{
    text-decoration:none;
    color: white;
    word-spacing: 1px;
}

div.menu a:visited{
    color: white;
    text-decoration:none;
}

div.menu a{
    font-weight: bold;
}

div.inicio{
    color: rgb(230,230,230);
    padding: 10px;
    text-align: lefth;
    width: 680px;
    background-color:rgb(70,70,70);
    margin: -10px -10px;
    border-radius: 10px;
}

div.conteudo{
    padding: 10px;
    width: 680px;
    background-color:rgba(200,200,200,0.8);
    margin: -35px auto;
    overflow: auto;
    border-radius: 10px;
}


