@model List<StreetFighter.Dominio.Personagem>
@{
    ViewBag.Title = "ListaDePersonagens";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inicio">
    <h2>Lista de Personagens </h2>
</div>

@using (Html.BeginForm("Cadastro", "StreetFighter", FormMethod.Post, new { @class = "form-horizontal" }))
{

    <button type="submit" class="btn btn-default">Cadastrar</button>
}

@using (Html.BeginForm("ListaDePersonagens", "StreetFighter", FormMethod.Get))
{
<label>Filtro:</label>
<input type="text" name="filtro"/>
<button type="submit" class="btn btn-default">Filtrar</button>
<br />
<br />
}

        @{
            if (Model == null)
            {
                <h1>xxxxxx</h1>
            }
            else
            {
                foreach (var personagem in Model)
                {
                <tr>
                    <td><strong>@Html.ActionLink(personagem.Nome, "FichaTecnica", new { id = personagem.Id })</strong></td>
                    
                    <td><input type="button" value="Editar" onclick="location.href='@Url.Action("Editar", "StreetFighter", new { id = personagem.Id })'" /></td>
                    <td><input type="button" value="Excluir" onclick="location.href='@Url.Action("Excluir", "StreetFighter", new { id = personagem.Id })'" /></td>
                    <td><input type="button" value="Visualizar" onclick="location.href='@Url.Action("Visualizar", "StreetFighter", new { id = personagem.Id })'" /></td>
                    <br />
                    <br />
                </tr>
                    }
                }
            }